:root{
    --blanco: #ffffff;
    --oscuro: #000000;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}


html{
    font-size: 62.5%; /* 1rem = 10px */
}
body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}
/* UTILIDADES */
.contenedor{
    width: 120rem;
    margin: 0 auto;
}

/* HEADER */
.titulo{
    text-align: center;
    font-size: 3.8rem;
    color: var(--primarrio)
}
.titulo span{
    font-size: 2rem;
}

/* NAVEGACIÓN */
.nav-bg{
    background-color: var(--secundario);
}
.nav-principal{
    display: flex;
    justify-content: space-between;
}
.nav-principal a{
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
    font-weight: 700;
}
.nav-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}